*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.starter-body{
    height: 100vh; 
}
.start-btn{
    background-color: rgb(0, 228, 228);
    color: #212529;
    transition: all 300ms ease;
}
.start-btn:hover{
    background-color: #212529;
    color: rgb(0, 228, 228);
    border: 1px solid rgb(0, 228, 228);
}

.btn{
    height: 20vh;
    background-color: #000000;
}
.btn:disabled{
    cursor: not-allowed;
}
#reset,
#new-game{
    background-color: #6f7d87;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 400ms ease;
}
#new-game{
    background-color: #00ddff;
}
#reset:hover,
#new-game:hover{
    background-color: #2d3841;
    color: rgb(0, 228, 228);
    border: 1px solid rgb(0, 228, 228);
}
.container-fluid,
#score{
    max-width: 670px;
}

@media (max-width:560px) {
    .btn{
        height: 10vh;
    }
}